<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>About</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('about')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-3">Task Manager</h1>
    <p class="lead">Task list and task manager that helps you get stuff done</p>
    <hr class="my-4">
    <p>Test user, role: user
    <p>login: ann@mail.com, password: 11111111</p>
    <hr class="my-4">
    <p>Test user, role: user
    <p>login: mark@mail.com, password: 11111111</p>
    <hr class="my-4">
    <p>Test user, role: admin
    <p>login: admin@mail.com, password: admin</p>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>